.Landingpagecont3{
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    gap: 135px;
    
}
/* text area */

.text-cont3{
    max-width: 567px;
    margin-top: 117px;
    margin-left: 45px;
    margin-bottom: 71px;

}

.text-cont3 h6,
.text-cont3 h5 {
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
}

.text-cont3 h6{
    margin-bottom: 25px;
}

.text-cont3 h5{
    margin-bottom: 40px;
}

.checkbox-cont3{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-cont3 p{
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: rgba(0, 0, 0, 1);
}

.btns-cont3{
  background:  rgba(193, 255, 196, 1);
  border-radius: 8px;
  display: inline-flex;
  gap: 4px;
  padding: 16px;
  align-items: center;
  max-width: 172px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
transition: background-color 0.25s ease;
margin-top: 30px;
}

.btns-cont3:hover{
    background-color: aquamarine;
}

.arrow-icon3{
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btns-cont3:hover .arrow-icon3{
    transform: translateX(10px);
    opacity: 0.9;
}

/* cards section */
.cards-cont3{
    max-width: 634px;
    display: flex;
    gap: 30px;


}

.firstcard-cont3{
    max-width: 302px;
    margin-top: 158px;
    margin-bottom: 111px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.secondcard-cont3{
    max-width: 302px;
    margin-top: 198px;
    margin-bottom:71px ;
     display: flex;
    flex-direction: column;
    gap: 11px;
}

.card1-cont3{
    max-width: 302px;
    background-color: rgba(2, 37, 255, 1);
    border-radius: 16px;
    border: 1px solid rgba(161, 163, 171, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding-top: 19px;
    padding-left: 30px;
    padding-right: 69px;
    padding-bottom: 19px;

}


.card2-cont3{
    max-width: 302px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid rgba(161, 163, 171, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 30px;

}
.card3-cont3{
    max-width: 302px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid rgba(161, 163, 171, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 110px;
    padding-bottom: 30px;



}

.card4-cont3{
    max-width: 302px;
    background-color: rgba(168, 69, 239, 1);
    border: 1px solid rgba(161, 163, 171, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
     padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 26px;


}

.card1-cont3 h6{

font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);

}
.card1-cont3 p{
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
}

.card2-cont3 h6,
.card3-cont3 h6,
.card4-cont3 h6{
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}

.card1-cont3 img,
.card2-cont3 img,
.card3-cont3 img,
.card4-cont3 img{
    margin-bottom: 26px;
}

.card1-cont3 h6,
.card2-cont3 h6,
.card3-cont3 h6,
.card4-cont3 h6{
    margin-bottom: 10px;
}


.card1-cont3 p,
.card2-cont3 p,
.card3-cont3 p,
.card4-cont3 p{
    margin-bottom: 10px;
}

/* responsiveness */
/* From 1420px downwards */
@media (max-width: 1420px) {
  .Landingpagecont3 {
    gap: 100px; 
  }

  .text-cont3 h5,
  .text-cont3 h6,
  .checkbox-cont3 p {
    font-size: 15px;
  }
}

/* From 1200px downwards */
@media (max-width: 1200px) {
  .Landingpagecont3 {
    gap: 80px;
  }

  .text-cont3 {
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 60px;
  }

  .text-cont3 h5,
  .text-cont3 h6,
  .checkbox-cont3 p {
    font-size: 15px;
  }

  .cards-cont3 {
    gap: 24px;
    max-width: 550px;   

  }
  
  .card1-cont3,
  .card2-cont3,
  .card3-cont3,
  .card4-cont3 {
    max-width: 260px;   
    padding: 20px;      
  }

  .card1-cont3 h6,
  .card2-cont3 h6,
  .card3-cont3 h6,
  .card4-cont3 h6 {
    font-size: 15px;   
  }

  .card1-cont3 p,
  .card2-cont3 p,
  .card3-cont3 p,
  .card4-cont3 p {
    font-size: 13px;    
  }


}

/* From 1024px downwards */
@media (max-width: 1024px) {
  .Landingpagecont3 {
    gap: 60px;
  }

  .text-cont3 {
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
    max-width: 500px;
  }

  .text-cont3 h5,
  .text-cont3 h6,
  .checkbox-cont3 p {
    font-size: 14px;
  }
  .cards-cont3 {
    max-width: 500px;
    gap: 20px;
  }

  
  .card1-cont3,
  .card2-cont3,
  .card3-cont3,
  .card4-cont3 {
    max-width: 240px;
    padding: 18px;      
  }

  .card1-cont3 h6,
  .card2-cont3 h6,
  .card3-cont3 h6,
  .card4-cont3 h6 {
    font-size: 14px;   
  }

  .card1-cont3 p,
  .card2-cont3 p,
  .card3-cont3 p,
  .card4-cont3 p {
    font-size: 12px;    
  }

}

/* From 900px downwards */
@media (max-width: 900px) {
  .Landingpagecont3 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .text-cont3 {
    margin: 40px 20px 20px;
    max-width: 100%;
    text-align: center;
  }

  .text-cont3 h5,
  .text-cont3 h6,
  .checkbox-cont3 p {
    font-size: 14px;
  }

  .cards-cont3 {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 24px;
  }

  .firstcard-cont3,
  .secondcard-cont3 {
    margin: 0;
    max-width: 100%;
    align-items: center;
  }
}

/* From 768px downwards */
@media (max-width: 768px) {
  .Landingpagecont3 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .text-cont3 {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }

  .text-cont3 h5,
  .text-cont3 h6,
  .checkbox-cont3 p {
    font-size: 13px;
  }

  .btns-cont3 {
    margin: 20px auto 0;
    font-size: 18px;
  }

  .cards-cont3 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;
  }

  .firstcard-cont3,
  .secondcard-cont3 {
    margin: 0;
    max-width: 100%;
  }

  .card1-cont3,
  .card2-cont3,
  .card3-cont3,
  .card4-cont3 {
    max-width: 100%;
    width: 100%;
  }
}

/* the white,blue,red card area */

@media (max-width: 1420px) {
  .firstcard-cont3 {
    margin-top: 120px;  
    margin-bottom: 80px;
  }

  .secondcard-cont3 {
    margin-top: 140px;   
    margin-bottom: 70px;
  }
}


@media (max-width: 1200px) {
  .firstcard-cont3 {
    margin-top: 120px;   
    margin-bottom: 80px;
  }

  .secondcard-cont3 {
    margin-top: 140px;   
    margin-bottom: 70px;
  }
}

/* From 1024px downwards */
@media (max-width: 1024px) {
  .firstcard-cont3 {
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .secondcard-cont3 {
    margin-top: 120px;   
    margin-bottom: 60px;
  }
}
