.landingpagecont2 {
    background-image: url('../../assets/istockphoto-1483863447-2048x2048 1.png');
    background-size: cover;
    background-position: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
     padding-top: 86px;
    padding-inline: 371px;
    padding-bottom: 85px;
}

/* text container */
.text-cont2{
    
}

.text-cont2 h5,
.text-cont2 p {
font-weight: 300;
font-style: Light;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: rgba(0, 0, 0, 1);
}

.text-cont2 h5{
    margin-bottom: 26px;
}

.text-cont2 p{
    margin-bottom: 85px;
}

/* card section */

.featurescard-cont2{
    background-image: url('../../assets/istockphoto-1483863447-2048x2048 1.png');
    background-size: cover;
    background-position: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 137px;
    padding-right: 136px;
    padding-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 31px;
    column-gap: 51px;
}

.features-cont2{
      max-width: 355px;
     background: rgba(255, 255, 255, 1);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 .cards-cont2 p,
 .cards-cont2 h6 {
font-weight: 400;
font-style: Regular;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
 }

 .cards-cont2{
    padding-top: 31px; 
      padding-left: 13px;
     padding-right: 31px;
     padding-bottom: 18px; 
 }

 .cards-cont2 img{
    margin-bottom: 12px;
     
 }

 .cards-cont2 p{
    margin-bottom: 14px;
 }
