.signup-container {
  display: flex;
  padding-left: 219px;
  padding-right: 219px;
  padding-top: 79px;
  padding-bottom: 79px;
  gap: 91px;
  /* align-items: center; */
  height: 100vh;
  background-image: url("../../assets/istockphoto-1483863447-2048x2048\ 1.png");
}
.left-div {
  max-width: 366px;
  width: 100%;
  height: 551px;
}
.right-h2 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 28px;
  /* leading-trim: NONE; */
  line-height: 100%;
  /* letter-spacing: 0%; */
  text-align: center;
  /* color: linear-gradient(90deg, #05A301 0%, #000000 100%);
 */
  color: linear-gradient(90deg, #05a301 0%, #000000 100%);
}
.h2-span {
  color: green;
}
.right-p {
  font-family: Inter;
  /* font-family: Inter; */
  font-weight: 300;
  font-style: Medium;
  font-size: 15px;
  /* leading-trim: NONE; */
  line-height: 100%;
  /* letter-spacing: 0%; */
  padding-bottom: 41px;
  text-align: center;
}
.signup-form {
  border: 1px solid #99999980;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
}
.signup-h3 {
  font-family: Inter;
  font-weight: 500;
  font-style: Bold;
  font-size: 20px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
  padding-left: 20px;
}
.signup-p {
  font-family: inter;
  font-weight: 300;
  font-style: Medium;
  font-size: 15px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 30px;
  padding-left: 20px;
}
.register-btn {
  width: 109.0479965209961px;
  height: 50.720001220703125px;
  /* angle: 0 deg; */
  /* opacity: 1; */
  border-radius: 5px;
  background: #05a301;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
}
.error {
  color: red;
}
.form-div {
  display: flex;
  gap: 10px;
  border: 1px solid #565454;
  width: 300.54132080078125px;
  height: 30.720001220703125px;
  border-radius: 8px;
  border-width: 1px;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 15px;
}
.form-div input {
  width: 85%;
  outline: none;
}
.checkbox-div {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
.last-p {
  font-family: Inter;
  font-weight: 500;
  /* font-style: Medium; */
  font-size: 16px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 15px;
}
/* @media (max-width:400px) {
    .left-div{
        /* visibility: hidden; */
/* display: none; */
/* } */
/* .signup-container{ */
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* } */
