.signup-container {
  display: flex;
  height: 100vh;
  background-image: url("../../assets/istockphoto-1483863447-2048x2048\ 1.png");
}

.Right-div {
    font-family: "Montserrat", sans-serif;
}
.right-h2 {
  font-family: Inter;
  font-weight: 600;
  font-style: Bold;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: linear-gradient(90deg, #05a301 0%, #000000 100%);
}
.h2-span {
  color: green;
}
.right-p {
  font-family: Inter;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  padding-bottom: 41px;
  text-align: center;
}
.signup-form {
  border: 1px solid #99999980;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
  padding: 20px;
}
.signup-h3 {
  font-family: Inter;
  font-weight: 500;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
  padding-left: 20px;
}
.signup-p {
  font-family: inter;
  font-weight: 300;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 30px;
}
.register-btn {
  width: 109.0479965209961px;
  height: 50.720001220703125px;
  border-radius: 5px;
  background: #05a301;
  color: white;
  margin-top: 10px;
}
.error {
  color: red;
}
.form-div {
  display: flex;
  gap: 20px;
  border: 1px solid #565454;
  width: 300.54132080078125px;
  height: 30.720001220703125px;
  border-radius: 8px;
  border-width: 1px;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 100%;
}
.form-div input {
  outline: none;
}
.checkbox-div {
  display: flex;
  gap: 10px;
}
.last-p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 20px;
  padding-top: 15px;
}

