.Footer{
    background-color: rgba(0, 0, 0, 1);
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.Cont-foot{
    display: flex;
    gap: 124px;


}

.text-foot{
    max-width: 315px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 77px;
    margin-left: 102px;
    margin-bottom: 153.1px;
}



.text-foot h6{
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.5);
}


.link1-foot h6,
.link2-foot h6,
.link3-foot h6{

font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
margin-bottom: 16px;

}

.links-foot{
    max-width: 576px;
    display: flex;
     margin-top: 77px;
     gap: 165px;
     margin-bottom: 95px;
    margin-right: 323px;

}

.links-foot ul{
    display: flex;
    flex-direction: column;
    gap: 16px;


}


.links-foot li{
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.5);
}

.link1-foot{
    max-width: 76px;
}

.link2-foot{
    max-width: 92px;
}

.link3-foot{
    max-width: 78px;
}

/* line section */
.line-foot{
    
  display: block;
  max-width: 100%;   
  height: auto;      
  margin-inline: auto; 


}

.flex-foot{
    display: flex;
    gap: 849px;
    padding-bottom: 72px;


}

.flex1-foot h6{
font-weight: 500;
font-style: Medium;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.5);
margin-top: 15px;
margin-left: 102px;
}

.flex2-foot{
    display: inline-flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;

}

/* responsiveness */
/* From 1420px downwards */
@media (max-width: 1420px) {
  .Cont-foot {
    gap: 80px;
  }

  .links-foot {
    gap: 120px;
    margin-right: 200px;
  }

  .link1-foot h6,
  .link2-foot h6,
  .link3-foot h6 {
    font-size: 18px;
  }

  .links-foot li,
  .text-foot h6,
  .flex1-foot h6 {
    font-size: 13px;
  }

  .flex-foot {
    gap: 600px;
  }
}

/* From 1200px downwards */
@media (max-width: 1200px) {
  .Cont-foot {
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-foot {
    margin-left: 60px;
    margin-bottom: 100px;
  }

  .links-foot {
    gap: 80px;
    margin-right: 100px;
  }

  .link1-foot h6,
  .link2-foot h6,
  .link3-foot h6 {
    font-size: 17px;
  }

  .links-foot li,
  .text-foot h6,
  .flex1-foot h6 {
    font-size: 12px;
  }

  .flex-foot {
    gap: 400px;
  }
}


/* From 1339px downwards */
@media (max-width: 1339px) {
  .line-foot {
    max-width: 90%;   
  }
}

/* From 1024px downwards */
@media (max-width: 1024px) {
  .line-foot {
    max-width: 80%;   
  }
}

/* From 768px downwards (mobile) */
@media (max-width: 768px) {
  .line-foot {
    max-width: 100%;  
    margin-inline: 0; 
}
}

/* From 935px downwards */
@media (max-width: 934px) {
  .Cont-foot {
    flex-direction: column;
    align-items: center;
    gap: 40px; 
  }

  .text-foot {
    margin: 40px 20px -20px;
    text-align: center;
    max-width: 100%;
  }

  .links-foot {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 164px;
    margin: 20px 0;
    max-width: 100%;
  }

  .link1-foot h6,
  .link2-foot h6,
  .link3-foot h6 {
    font-size: 16px;
    text-align: center;
  }

  .links-foot li {
    font-size: 13px;
    text-align: center;
  }

  .line-foot {
    max-width: 85%;   
    margin-inline: auto;
  }

  .flex-foot {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
  }

  .flex1-foot h6 {
    font-size: 13px;
    text-align: center;
    margin: 10px;
  }

  .flex2-foot {
    margin-top: 0;
    justify-content: center;
    gap: 20px;
  }
}

/* From 768px downwards */
@media (max-width: 768px) {
  .links-foot {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .link1-foot h6,
  .link2-foot h6,
  .link3-foot h6 {
    font-size: 15px;
  }

  .links-foot li {
    font-size: 12px;
  }

  .line-foot {
    max-width: 100%;
    margin-inline: 0;
  }

  .flex-foot {
    gap: 16px;
    padding-bottom: 30px;
  }

  .flex2-foot {
    gap: 16px;
  }
}
