 .login-container {
    font-family: 'Inter';
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url('../../assets/istockphoto-1483863447-2048x2048 1.png');
} 
.logo{
    font-family: Inter;
font-weight: 600;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: black;

}
.up{
    padding-bottom: 30px;
}
.logo span{
    color: green;
}
.tagline{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #000;
}
.login-form{
border-radius: 16px;
border-width: 1px;
padding: 20px;
border: 1px solid #99999980;
 
}
.wel-h3{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 25px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #000000;
padding-top: 20px;
text-align: center;
}
.subtitle{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 17px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #000;
padding-top: 5px;
padding-bottom: 15px;
}
.input-group{
    display: flex;
    gap: 23px;
height: 40px;
padding-inline: 14px;
width: 100%;
border-radius: 5px;
border-width: 1px;
top: 20px;
left: 20px;
align-items: center;
border: 1px solid #565454;
}
.label{
    font-family: Inter;
font-weight: 300;
font-style: Medium;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
}
.forgot{
    font-family: Inter;
font-weight: 300;
font-style: Medium;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
color: #05A301;
}
.login-btn{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px;
 width: 118px;
opacity: 1;
border-radius: 5px;
background: #05A301;
color: white;
margin-bottom: 23px;
margin-top: 23px;
cursor: pointer;
}
.divider{
    font-family: Inter;
font-weight: 300;
font-style: Medium;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
}
.signup-text{
    font-family: Inter;
font-weight: 300;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
.span{
    color: #05A301;
}
.login-left{
   max-width: 613px;
/* padding-top: 60px; */
}
.error{
    color: red;
}
